body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: #fff;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}


form {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 700px;
    margin-bottom: 20px; /* Space for the image below */
}

form h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

button {
    background: #f7b32b;
    color: #000;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}

button:hover {
    background: #ffc857;
    transform: scale(1.1);
}

button:active {
    transform: scale(0.95);
}

#afterStartForm h1, 
#afterStartForm button {
    display: inline-block;
    width: auto; 

}

#afterStartForm span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    margin-top: 10px; 
}


#image {
    display: block; 
    margin-top: 20px;
    max-width: 90%; 
    max-height: 720px; 
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    object-fit: contain; /* Keeps image aspect ratio intact */
}
